body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER  */
.header {
    height: 100px;
    background-color: #0171F9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 100px;
}

.headerLinks {
    width: 50%;
}

.headerLinks ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;

}

.logo img {
    width: 150px;   
}
/* END HEADER  */

/* LANDING PAGE  */
.landingPageContainer {
    display: flex;
    background-color: #0171F9;
    color: #fff;
    padding: 100px;
}

.landingPageContainer .slogan {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

.landingPageContainer .welcome {
    /* font-weight: 600; */
    font-size: x-large;
    height: 10px;
}

.landingPageContainer .description {
    color: #000;
    width: 80%;
}

.searchBar input {
    border-radius: 50px;
    border: none;
    width: 40%;
    height: 50px;
}

.searchBar input::placeholder {
    padding-left: 20px;
    font-size:medium;
}

.btn {
    border-radius: 50px;
    height: 50px;
    border: none;
    font-weight:600;
    font-size: medium;
    padding: 0 20px;
    background-color: #EE626B;
    color: #fff;
    text-transform: uppercase;
}

.leftSide {
    flex: 8;
}

.imageContainer {
    flex: 4;
}

.imageContainer img {
    width: 450px;
    border-radius: 20px;
}



/* END LANDING PAGE  */